{% extends 'base.html.twig' %}

{% block title %}TR Login{% endblock %}

{% block body %}
	<div class="col-md-4 col-md-offset-4">
		<div class="login-wrapper">
			<div class="box">
				<div class="content-wrap">
					<form role="form" method="POST" action="{{ path('security_login_check') }}">
                    {% if error %}
						<div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData) }}
						</div>
                    {% endif %}
					<h6>Sign In</h6>
					<input id="email" type="email" class="form-control" name="_email" value="{{ last_username }}" placeholder="Email">
					<input id="password" type="password" class="form-control" name="_password" placeholder="Password">
					<div class="action">
						<button type="submit" class="btn btn-primary signup" href="index.html">Sign In</button>
					</div>
					</form>
				</div>
			</div>

			<div class="already">
				<p>Can't sign in?</p>
				<p>Contact admin@domain.lt</p>
			</div>

			<div class="already">
				<p>Administrator <a href="/register">Sign up</a> </p><br>
				<p>!! Only for testing purpose !!</p>
			</div>
		</div>
	</div>
{% endblock %}